* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.father-box{
    padding: 20px 200px;
    background-color: #000014;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        font-size: 35px;
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header-title{
            font-size: 35px;
            font-weight: bold;
        }
    }
    .search-input{
        width: 700px;
        min-height: 40px;
        border-radius: 20px;
        border: none;
        padding: 0 20px;
        font-size: 20px;
        margin: 20px;
        background-color: rgb(255, 255, 255, 0.1);
        color: #fff;
    }
    .movieList {
        width: 100%;
        display: flex;
        flex-direction: row;
            color: #fff;
        flex-wrap: wrap;
        .movieItem{
            width: calc(100% / 3);
            margin-bottom: 20px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                border-radius: 20px;
                width: 200px;
            }
            .movieInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}