* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.card{ 
  padding: 20px;
  margin: 10px;
  border: 1px solid #454545;
  background-color: #252525;
  border-radius: 10px;
  min-height: 100px;
  color: #fff;
}

h2{
  font-size: 45px;
}

button{
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-size: 30px;
}