.App-layout{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    overflow: auto;
    .App-layout-header{
        background-color: #e3e3e3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: 80px;
        box-sizing: border-box;
        .App-layout-header-title{
            font-size: 30px;
            font-weight: bold;
        }
        .App-layout-header-nav{
            .App-layout-header-nav-item{
                font-size: 20px;
                font-weight: bold;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
    .App-layout-content{
        // padding: 20px;
        height: calc(100vh - 80px);
        box-sizing: border-box;
    }
}